<nav class="navbar">
    <div class="links">
        <a href="/" class="works selected">Works</a>
        <a href="/authors" class="authors">Authors</a>
        <a href="/insert" class="insert">New Entry</a>
    </div>
    <script src="/scripts/navbar.js" defer></script>
</nav>>